## mako
<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
%>


<%block name="headextra">
    <link rel="stylesheet" type="text/css" href="${static.url('css/slick.css')}"/>
    <link rel="stylesheet" type="text/css" href="${static.url('css/owl.carousel.min.css')}"/>
</%block>

<%block name="js_extra">
    <script type="text/javascript">
        $(window).load(function () {
            $(".more-about-btn").removeClass("hidden");
            if (getParameterByName('next')) {
                $('#login').trigger("click");
            }
        })
    </script>
    ##     <%include file="about_site.html" />
    ##     <%include file="advisory_site.html" />
##<%include file="partners_site.html" />

    <script type="text/javascript" src="${static.url('js/slick.min.js')}"></script>
    <script type="text/javascript" src="${static.url('js/owl.carousel.min.js')}"></script>

</%block>

<section class="home">
    <header class="hero-main hero">
        <div class="tint-dark">
            <div class="grid-container grid-manual">
                <div class="row">
                    <div class="banner col col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12 text-tint">
                      <div class="tb_row_frame tb_row_frame_top"></div>
                      <div class="col-3 banner_logo">
                        <img src="${static.url('images/payne_150_150.png')}" alt="  ">
                      </div>
                      <div>
                        <h2 class="fancy-heading themify-text-center">
                        <span class="main-head">Lay Leadership Institute </span>
                        <span class="sub-head">At Payne Theological Seminary</span>
                        </h2>
                      </div>
                      <div class="tb_row_frame tb_row_frame_bottom "></div>
                       <!-- <div class="banner-text-wrap">
                        <div class="banner-text1">

                            <h1>LEARN ANYTIME ANYWHERE</h1>

                        </div>
                        <div class="banner-text2">

                            <h2>Your Online Learning Space</h2>

                        </div>
                       </div>
                        % if show_homepage_promo_video:
                            <a href="#video-modal" class="btn-neutral btn-large" rel="leanModal">Watch video <i
                                    class="fa fa-play"></i></a>
                        % endif
                    </div> -->
                </div>
            </div>
        </div>
    </header>

 


    <section class="home-intro">
    <div class="grid-container grid-manual home-banner-text">
        <div class="row">
            <div class="col-lg-4"><iframe src="https://www.youtube.com/embed/e4BdjJVrLno?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="accelerometer;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="100%" style="
    min-height: 294px;
    padding: 15px 0;
"></iframe></div>
<div class="col-lg-8">
            <div class="home-text-one col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                <h2>To be recognized as a global leader in distance theological education.</h2>
            </div>
            <div class="home-text-one col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"></div>
            <div class="home-text-one col-12 sm-col-12 md-col-12 lg-col-12 xl-col-12">
                <p>The Lay Leadership Institute caters to laypeople who desire better-informed and more efficient involvement in church life, seekers who desire deeper insight into the Christian practices along with the beliefs that inform them, and persons who view insights gained in a theological setting (e.g. ethics, leadership, administration, budget preparation etc.) as potentially beneficial in other social and work environments.</p>
            </div>
            <div class="home-text-two col-3 sm-col-3 md-col-3 lg-col-3 xl-col-3"></div>
        </div>
         </div>
    </div>
    </section>
    <div class="fcourse-list">
            <%include file="${courses_list}" />
    </div>
         <!-- <section class="about-section">
             <div class="about-container"></div>
        </section>
         <section class="advisory-section">
             <div class="advisory-container"></div>
         </section> -->

<!-- % if show_homepage_promo_video: -->
    <section id="video-modal" class="modal modal-custom custom-video-modal">
        <div class="inner-wrapper">
            <iframe title="YouTube Video" width="640" height="360"
                    src="//www.youtube.com/embed/${'e4BdjJVrLno'}?showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </section>
<!-- % endif -->

<!-- start of slider -->

<section class="partners-section">
       <div class="partners-container">
           <section class="partners-section">
              
               <div class="partners">
                   <div class="owl-carousel">

                       <div class="owl-item" style="width: 350px;">
                           <li class="border">
                               <a href="" target="_blank">
                                   <img src="${static.url('images/Rev_Mark_Tyler.jpg')}" alt="  ">
                                   <h2>Rev. Mark Tyler</h2>
                               </a>
                           </li>
                       </div>
                       <div class="owl-item" style="width: 350px;">
                           <li class="border">
                               <a href="#" target="_blank">
                                   <img src="${static.url('images/Rev_Sydney_Williams.jpg')}" alt="  ">
                                   <h2>Rev. Sydney Williams</h2>
                               </a>
                           </li>
                       </div>
                       <div class="owl-item" style="width: 350px;">
                           <li class="border">
                               <a href="#" target="_blank">
                                   <img src="https://www.instituteofphotography.in/wp-content/uploads/2015/05/dummy-profile-pic-300x300.jpg" alt=" ">
                                   <h2>Prof. Lorem Ipsum </h2>
                               </a>
                           </li>
                       </div>
                       <div class="owl-item" style="width: 350px;">
                           <li class="border">
                               <a href="#" target="_blank">
                                   <img src="https://www.instituteofphotography.in/wp-content/uploads/2015/05/dummy-profile-pic-300x300.jpg" alt=" ">
                                   <h2>Prof. Lorem Ipsum </h2>
                               </a>
                           </li>
                       </div>

                   </div>

               </div>
               <script type="text/javascript">

                   $(document).ready(function () {
                       $(".owl-carousel").owlCarousel({
                           autoPlay: 3000,
                           loop: true,

                           items: 2,
                           itemsDesktop: [1199, 2],
                           itemsDesktopSmall: [979, 2],
                           itemsTablet: [768, 2],
                           itemsMobile: [479, 1],
                           navigation: true,
                           navigationText: false,
                           pagination: false,
                           autoWidth:false,

                       });
                   });
               </script>
           </section>
       </div>
   </section>


<!-- end of slider -->
<!-- 
    <section class="bottom-banner-section">
        <div class="grid-manual bottom-banner-container">
            <div class="bottom-banner-text">
                <div class="bottom-learn">
                   <h2>READY TO LEARN?</h2>
                </div>
                <div class="bottom-register">
                    <a class="btn btn-primary" href="/register${login_query()}">REGISTER NOW</a>
                </div>
            </div>
        </div>
    </section>
</section>
 -->


% if show_signup_immediately is not UNDEFINED:
## NOTE: This won't work in production, because anonymous views are cached, so it will
## show either with or without this extra js for 3 minutes at a time.as

    <script type="text/javascript">
        $(window).load(function () {
            $('#signup_action').trigger("click");
        });
    </script>
% endif
