<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
<style>


    .document_title {
        width: 10rem;
        margin: auto;
        height: 7.5rem;
    }
    .accomplishment-type{
        margin-bottom: 1.5rem !important;
    }
    .certificste_name {
            font-size: 2rem !important;
            font-weight: 100 !important;
    }
    .accomplishment-course{
        text-decoration: underline !important;
    }
    .certificate_bottom{
        display: inline-flex;
        width: 100%;
        padding-right: 3rem;
    }
    .accomplishment-signatories{
            width: 66%;
            display: inline-block;
            border-bottom: none !important; 
            padding-bottom: 0 !important; 
            margin-bottom: 0 !important
    }
    .accomplishment-org{
        width: 30% !important;
        display: inline-block;
        margin-bottom: 0 !important
    }
    .wrapper-organization{
        width: 100% !important;
    }
    .organization-logo{
        max-width: 100% !important;

        /*position: relative !important;
        top: 0 !important;
        left: 0 !important;*/
        transform: translate(0%, 10%) !important;
    }
    .signatory-signature{
        display: block !important;
        padding: 0.5rem !important;
        border-bottom: 1px solid #000;
        margin-left: 0 !important;
        min-height: 2.5rem;
    width: auto;
    }
    .accomplishment-statement{
            width: 100% !important;
            margin: 0rem 0 1rem 0 !important;
            padding: 1rem 0 !important;
            /*background-color: #e5f0f6;*/
            min-height: 16rem;
                border-bottom: 0 !important;
    }
    .organization-wrap{
        height: auto !important;

    }
    .accomplishment-rendering .accomplishment-signatories{
        border-bottom: 0px !important;
    }
    .accomplishment-rendering{
        padding: 1.25rem 0 !important;
        /*border: 0.07rem solid #1f345e;*/
        background: url("/static/payne/certificates/images/frame.svg"); 
        background-position: center;
  background-repeat: no-repeat;
  border: 0 !important;
  box-shadow: none !important;

    }
    .wrapper-statement-and-signatories{
        border-bottom: 0px !important;
        margin-bottom: 1rem;
    }
    .signatory-name{
        margin-top: 0.5rem;
        font-family: a-otf-ryumin-pr6n, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1rem !important;
    }
    .accomplishment-summary{
        margin-bottom: 1.2rem !important;
    }
    .signatory .copy-micro{
        font-size: 0.75rem !important;
        font-family: a-otf-ryumin-pr6n, serif;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 0 !important;
    }
    .certificate .accomplishment-rendering .accomplishment-statement, 
    .certificate .accomplishment-rendering .accomplishment-statement-lead, 
    .certificate .accomplishment-rendering .accomplishment-recipient, 
    .certificate .accomplishment-rendering .accomplishment-course{
        font-family: a-otf-ryumin-pr6n, serif;
        font-style: normal;
        font-weight: 300;

    }
    .accomplishment-rendering .accomplishment-signatories .signatory-name, 
    .accomplishment-rendering .accomplishment-signatories .signatory-credentials {
    text-align: left;
}
.document_title_img{
    max-height: 7.75rem;
}
.copy-lead {
        margin-bottom: 0.25rem !important;
}
.emphasized{
    margin: 1.25rem 0 !important;
}
.accomplishment-statement-lead{
        padding-bottom: 1rem !important;

    border-bottom: 0 !important;
}
</style>
<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
            <span class="deco-corner deco-corner-tl"></span>
            <span class="deco-corner deco-corner-tr"></span>
            <span class="deco-corner deco-corner-bl"></span>
            <span class="deco-corner deco-corner-br"></span>

            <div class="accomplishment-type">
                <!-- <span class="accomplishment-type-symbol">
                    <img class="src" src="/static/certificates/images/ico-${course_mode_class}.png" alt="Image for course mode of type ${course_mode_class}">
                </span> -->
                <!-- <span class="accomplishment-type-label hd-3">${document_title}</span> -->
                <div class="document_title">
                           <!--  <img class="document_title_img" src="/static/payne/certificates/images/title.svg" alt="${platform_name}">        -->                   
                </div>
            </div>
            <span class="sr-only">End of title</span>
            <div class="wrapper-statement-and-signatories">
                <div class="accomplishment-statement">
                    <p class="accomplishment-statement-lead">
                        <strong class="accomplishment-recipient hd-1 certificste_name emphasized">${accomplishment_copy_name}</strong>
                        <!-- <span class="accomplishment-summary copy copy-lead">${accomplishment_copy_description_full}</span> -->
                        <span class="accomplishment-summary copy copy-lead">以下の講義を修了したことを証明します。</span>
                        <span class="accomplishment-summary copy copy-lead">  successfully completed and received a passing grade in</span>
                      

                        <span class="accomplishment-course hd-1 emphasized">
                            <span class="accomplishment-course-org">${accomplishment_copy_course_org}  </span>
                            <span class="accomplishment-course-number">${course_number}</span>:
                            <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
                        </span>
                        <span class="value copy copy-base"> ${certificate_date_issued}</span>
                    </p>             
                    <!-- <p class="accomplishment-statement-detail copy copy-lead">${accomplishment_copy_course_description}</p> -->
                </div>
                <div class="certificate_bottom">
                % if mode != 'base':
                    <div class="accomplishment-signatories">
                        
                        <div class="wrapper-signatories">
                            <div class="list-signatories">
                                % if certificate_data:
                                    % for signatory in certificate_data.get('signatories', []):
                                    <div class="signatory"> 
                                        <img class="signatory-signature" src="${signatory['signature_image_path']}" alt="${signatory['name']}">

                                        <h4 class="signatory-name hd-5">${signatory['name']}</h4>
                                        <p class="signatory-credentials copy copy-micro">
                                            <span class="role">${signatory['title']}</span>
                                            <span class="organization">${signatory['organization']}</span>
                                        </p>
                                    </div>
                                    % endfor
                                % endif
                            </div>
                        </div>
                    </div>
                    % endif

                    <div class="accomplishment-org">
                                           
                            <div class="organization organization-edX">
                                <!-- <img class="organization-logo" src="${logo_src}" alt="${platform_name}">
                                <img class="organization-logo" src="/static/payne/certificates/images/logo.svg" alt="${platform_name}"> -->
                            </div>                      
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">${_("Awarded to:")}</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="Recipient Image">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <!-- <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl> -->
            </div>
        </div>
    </div>

</main>
